<form method="post" action="/">
  <p>Create a puppy:</p>
  <h2>Name</h2>
  <textarea name="name"></textarea>
  <textarea name="breed"></textarea>
  <textarea name="age"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
