<form method="post" action="/">
  <h1>Create a puppy:</h1>
  <h2>Name</h2>
  <textarea name="name"></textarea>
  <h2>Breed</h2>
  <textarea name="breed"></textarea>
  <h2>Age</h2>
  <textarea name="age"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
